<doctype!>

<!--
Zak Clough
Pokemon Clicker
4/20/2015
-->

<!--
Code for later on.
<span style="color:blue;">&male;</span>
<span style="color:red;">&female;</span>
-->


<html ng-app="pokemonClickerApp">

	<head>
		<link rel="stylesheet" type="text/css" href="interface.css" />
		<title>Pokemon Clicker</title>
	</head>

	<body ng-controller="PokemonClickerCtrl">
		</br>
		<h1>Pokemon Clicker</h1>
		<h3>Instructions: Click the yellow Sitrus Berry to get berries.</h3>
		</h3>
		<h3>Then use those berries to buy pokemon by clicking on their picture.</h3>
	</br></br>
		<img src="Images/sitrus_berry.png" ng-click="berryClick()">
	</br></br></br>
		<table>               <!-- Sitrus Berries -->
			<tr ng-repeat="(berryName, berry) in gameData.berries">
				<td>{{berry.count}} {{berryName | capitalize}}
					<span ng-if="berry.count != 1">berries</span>
					<span ng-if="berry.count == 1">berry</span>
					{{berry.perSec}}/s
				</td>
			</tr>
		</table>
	</br></br></br>
		<table>
			<!-- Sitrus Berry Pokemon -->
			<tr>
				<td ng-repeat="pokemonType in ['charmander', 'bulbasaur', 'squirtle', 'pikachu']" ng-include="'pokemonCell'"></td>
			</tr>
			 <!-- Leppa Berry Pokemon -->
			<tr>
				<td ng-repeat="pokemonType in ['piplup', 'turtwig', 'weedle', 'pidgey']" ng-include="'pokemonCell'"></td>
			</tr>
			<!-- Lum Berry Pokemon -->
			<tr>
				<td ng-repeat="pokemonType in ['rattata', 'caterpie', 'ekans', 'vulpix']" ng-include="'pokemonCell'"></td>
			</tr>
			<!-- Oran Berry Pokemon -->
			<tr>
				<td ng-repeat="pokemonType in ['spearow', 'sandshrew', 'oddish', 'diglett']" ng-include="'pokemonCell'"></td>
			</tr>
			<!-- Enigma Berry Pokemon -->
			<tr>
				<td ng-repeat="pokemonType in ['poliwag', 'abra']" ng-include="'pokemonCell'"></td>
			</tr>
		</table>

		<script type="text/ng-template" id="pokemonCell">
			<img ng-src="Images/{{pokemonType}}.png", ng-click="buyPokemon(pokemonType)">
			{{pokemonType | capitalize}} {{gameData.pokemon[pokemonType].count}}<br />
			Cost: {{gameData.pokemon[pokemonType].nextCost}} {{gameData.pokemon[pokemonType].cost.berryType}} berries<br>
			<strong>Gives:</strong>
			<div ng-repeat="(berryType, berryQty) in gameData.pokemon[pokemonType].gives">
				{{berryQty}} {{berryType | capitalize}}
				<span ng-if="berryQty > 1">berries</span>
				<span ng-if="berryQty == 1">berry</span>
				per second.
			</div>
		</script>

		<script src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="main.js"></script>

	</body>

</html>